/* .quizzContainer {
    background-image: url(https://wallpaperaccess.com/full/187719.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

} */